<div class="row">
  <div class="col-sm-4 col-sm-offset-4">
    <% users.each do | user | %>
      <div class="clearfix user-wrap">
        <%= gravatar_for(user, {size: 40}) %>
        <%= user.name %>
      </div>
    <% end %>
  </div>
</div>